name: Node CI

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - "**"

permissions:
    contents: read

jobs:
    check-tests-are-watchable:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "lts/*"
                  cache: npm
            - name: Install dependencies
              run: |
                  npm ci
              env:
                  PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 1
            - name: Tests that tests are watchable
              run: |
                  ./scripts/test-watch-mode-works.sh

    prettier:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "lts/*"
                  cache: npm
            - name: Install dependencies
              run: |
                  npm ci
              env:
                  PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 1
                  HUSKY_SKIP_INSTALL: 1
            - name: Prettier
              run: |
                  npm run prettier:check

    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "lts/*"
                  cache: npm
            - name: Install dependencies
              run: |
                  npm ci
              env:
                  PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 1
            - name: ESLint
              run: |
                  npm run lint

    chromium:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "lts/*"
                  cache: npm
            - name: Install dependencies
              run: |
                  npm ci
              env:
                  PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 1
            - name: Integration
              run: |
                  export PUPPETEER_EXECUTABLE_PATH=$(which google-chrome-stable)

                  # test-coverage runs test-headless in Chrome
                  npm run test-headless

    saucelabs-test:
        if: ${{ github.ref == 'refs/heads/main' }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "lts/*"
                  cache: npm
            - name: Install dependencies
              run: |
                  npm ci
              env:
                  PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 1
            - name: Saucelabs test
              env:
                  SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
                  SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
              run: |
                  npm run test-cloud

    coverage:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "lts/*"
                  cache: npm
            - name: Install dependencies
              run: |
                  npm ci
              env:
                  HUSKY_SKIP_INSTALL: 1
            - name: Integration
              run: |
                  npm run test-coverage
            - name: Upload coverage report
              run: bash <(curl -s https://codecov.io/bash) -F unit -s coverage/lcov.info

    test:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [18, 20, 22]

        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: npm
            - name: Install dependencies
              run: |
                  npm ci
              env:
                  PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 1
            - name: npm test
              run: npm run test-node
